body{
    font-family: 'Poppins', sans-serif;
}
.header_section{
    display: flex;
}
.head_left_div{
    margin-top: 0px;
    background-color: white;
    width: 50%;
    align-content: center;
    margin-left: 100px;
    margin-bottom: 80px;
}
.head_right_div{
    background-color: white;
    width: 50%;
}
h1{
    font-size: 50px;
}
h1.solid{
        border-style: solid;
        border-top: white;
        border-bottom: white;
        border-right: white;
        width: 500px;
        margin-top: 150px;
        margin-right: 15px;
        
}

.head_note{

    width: 500px;
}               
.head_para{
    width: 500px;
}                
.head_image{
    width: 73%;
    height: 88%;
    margin-top: 60px;
    margin-left: 50px;
    
}
.head_button{
    background-color: tomato;
    width: 25%;
    height: 10%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border-color: white;
}

.my_mission_txt{
    font-size: 30px;
    color: black;
    text-align: center;
}





.footer{
    background-color: black;
    height: 300px;
    width: 100%;
}
.footer_left_div{
    height: 90%;
    width: 50%;
    background-color: coral;
}
